

:root{
    --bg-color: #191E29;
    --second-bg-color: #132d46;
    --text-color: #01C38D;
    --second-text-color: #ffffff;
    --main-color: #696e79;
}

/* Home Page */
.home{
    background-color: #f70404;
    height: 80vh;
}
.home .content{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.home .content .left{
    display: grid;
    padding: 30px;
    gap: 20px;
}
.home .content .right img{
    width: 100px;
    height: 100px;
}
.home .content .link{
    display: flex;
    gap: 10px;
}
#floatingbtn{
    display: none
}









.get-in-touch{
    background-color: var(--second-bg-color);
    
}
.get-in-touch .content{
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
img{
    width: 60px;
    height: 60px;
}
.get-in-touch .content .left-side{
    border: 1px solid #01C38D;
    padding: 50px;
    max-width: 1000px;
    display: grid;
    gap: 20px;
}
.get-in-touch .content .left-side .down{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.get-in-touch .content .left-side .down input{
    color: var(--second-text-color);
    background-color: var(--bg-color);
}
.get-in-touch .content .left-side .down input:nth-child(1){
    border: 1px solid #01C38D;
    padding: 10px;
    width: 100%;
    height: 200px;
}
.get-in-touch .content .left-side .down input:nth-child(2){
    width: 48%;
    height: 30px;
    padding: 20px;
}
.get-in-touch .content .left-side .down input:nth-child(3){
    width: 48%;
    height: 30px;
    padding: 20px;
}
.get-in-touch .content .left-side .down input:nth-child(4){
    width: 100%;
    height: 30px;
    padding: 20px;
}
.get-in-touch .content .left-side .down a{
    padding: 20px 80px;
    border: 1px solid #01C38D;
}






.get-in-touch .content .right-side{
    border: 1px solid #01C38D;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.get-in-touch .content .right-side .post{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 700px;
    height: 80px;
    gap: 20px;
}
.get-in-touch .content .right-side .post .text{
    width: fit-content;
}





@media only screen and (max-width: 700px){
    .get-in-touch .content .left-side{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }
    .get-in-touch .content .right-side{
        width: 350px;
        padding: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .get-in-touch .content .left-side{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }
    .get-in-touch .content .right-side{
        width: 300px;
        padding: 10px;
    } 
}