/* Home Page */
.home{
    background-color: #f70404;
    height: 80vh;
}
.home .content{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.home .content .left{
    display: grid;
    padding: 30px;
    gap: 20px;
}
.home .content .right img{
    width: 100px;
    height: 100px;
}
.home .content .link{
    display: flex;
    gap: 10px;
}
#floatingbtn{
    display: none
}




